* {
    margin: auto;
    padding: 0;
}
/*LOGO */
.top-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.top-nav .btn button {
    background-color: #C0392B;
    color: #E5E7E9;
    padding: 12px;
    border: 1px solid #E5E7E9;
    border-radius: 8px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* NAVBAR */
.nav {
    display: flex;
    width: 100%;
    background-color: rgb(186, 188, 187);
    height: 100px;
    border-bottom: 4px solid rgb(34, 32, 32);
    margin-top: 10px;
    text-transform: uppercase;
}
.nav .navLinks ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    float: right;
    /* margin-left: 15%; */
}
.navLinks ul li a {
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    
}

/* DROPDOWN */
.dropbtn{
    background: none;
    border: none;
    width: 15%;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
   
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    background: none;
    width: 110%;
    /* margin-top: 15px; */
 
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1; 
   
}

.dropdown-content a {
    background: #808B96 ;
    color: #E5E7E9;
    text-decoration: none;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: larger;
    padding:20px 10px 10px 10px;
    font-family: 'Lato', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #000000;
    color:#f1f1f1;
    font-family: 'Lato', sans-serif;
}
/* HEADER */
.header{
    margin: 4% 20% 3% 20%;
    border-top: 2px solid #808B96;
    border-bottom: 2px solid #808B96;
}
.header p{
    padding: 2%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* CARD-BODY */
.row{
    display: flex;
    justify-content: space-between;
    margin: 0% 15% 2% 15%;
}
 .row .column{
    border: 2px solid #808B96;
    width: 30%;
    height: 90%;
    margin-right: 3%;
    text-align: center;
    padding: 3% 0 3% 0;
}
.row1{
    display: flex;
    justify-content: space-between;
    margin: 0% 55% 2% 0%;
}
.row1 .column{
    border: 2px solid #808B96;
    width: 29%;
    padding: 3% 2% 3% 3%;
    text-align: center;
}
.column i{
    color: #808B96;
}
.column i, h3, p{
    margin-bottom: 5px;
    margin-top: 3px;
}
.column h3, p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/* footer */
.footer{
    margin-bottom: 20px;
    background-color: #717171;
    color: #000;
    width: 100%;
    height: 50px;
    border-top: 5px solid #000;
  }
  .footer p{
   margin-left: 70%;
   padding: 10px;
   color: #f2f2f2;
  }